*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

body {
  font-family: "Times New Roman",serif;
  background-color: black;

}

img {
  position: relative;
  margin: 0;
}

header {
  background: rgba(255,255,255, 0.9);
  position: absolute;
  top: 20px;
  left: 50px;
  padding: 1em;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: black;
}

.feature-1, .feature-2, .about p {
  background: rgba(255,255,255, 0.9);
  padding: 1em;
  overflow: auto;
}

.feature-1 {
  margin-bottom: 1em;
}

@media (min-width: 640px) {

  body {
  background-color: white;
  }

 .feature-1  {
   background-color: #051901;
   color: white;
   text-align: center;
   float: left;
   width: 400px;
   height: 400px;
   margin-top: 1em;
   padding-top: 6em;

  }

  .about p {
    background-color: black;
    color: white;
    float: left;
    text-align: center;
    width: 400px;
    height: 400px;
    display: inline;
    padding-top: 6em;
  }

.feature-2 {
  display: none;
}


}

@media (min-width: 1000px) {

  .main-content {
    float:left;
  }

}
